body {
    background-color: rgba(186, 218, 245, 0.452);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    max-width: 350px;
    height: auto;
    text-align: center;
    padding: 15px 15px auto 15px;
}

#qr_code {
    border-radius: 15px;
    margin: 10px;
    align-self: center;
    max-width: 100%;

}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    
}








.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}  
